@{
    ViewBag.Title = "Contact";
}
@model FrameworkMVCApp.Controllers.ContactModel
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form method="post">
    <input hidden name="Username" value="@Model.Username" />
    <el-fancy-form username="@Model.Username"></el-fancy-form>
</form>
